openapi: 3.2.0
info:
  title: Councilof Ai Signed API
  version: 0.1.0
  contact:
    name: CSOAI Ltd
    url: https://councilof.ai
    email: nicholas@csoai.org
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  description: 'Operations tagged Signed across 2 of this provider''s published API definitions: councilof-ai-gspc-read-surfaces-openapi.json, councilof-ai-gspc-read-surfaces-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://councilof.ai
tags:
- name: Signed
paths:
  /signed/card_index.json:
    get:
      operationId: getCardIndex
      summary: Unsigned convenience index of the signed measurement cards
      description: cards[] with card (id), axis, card_url, signed. The index itself is not evidence; the card is.
      responses:
        '200':
          description: Card index.
      tags:
      - Signed
    servers:
    - url: https://councilof.ai
  /signed/cards/{id}.json:
    get:
      operationId: getCard
      summary: One signed measurement card
      description: '{alg, body, id, preimage_rule, pubkey, signature}. id = sha256 of the canonical body; verify per /signed/HOW-TO-VERIFY.md. Returns 404 for an unknown id.'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9a-f]{64}$
      responses:
        '200':
          description: Signed card.
        '404':
          description: No such card.
      tags:
      - Signed
    servers:
    - url: https://councilof.ai
  /signed/HOW-TO-VERIFY.md:
    get:
      operationId: getVerifyRecipe
      summary: The published, offline card-verification recipe
      responses:
        '200':
          description: Markdown.
      tags:
      - Signed
    servers:
    - url: https://councilof.ai
x-refined-from:
- councilof-ai-gspc-read-surfaces-openapi.json
- councilof-ai-gspc-read-surfaces-openapi.yml
