openapi: 3.2.0
info:
  contact:
    email: nicholas@csoai.org
    name: CSOAI Ltd
    url: https://councilof.ai/
  description: 'Verification is free forever. Agents pay per artefact: issuance, assembly, cadence — never a grade. 22 axes measured · 14 model fleets · 3 public leader scores · 8 fact runs · TIE is TIE · not a certificate. Operations with security [] are free and unauthenticated. Operations with x-payment-info are x402 doors; an amount appears only inside a door''s 402 challenge (documented as each door''s 402 example).'
  license:
    name: CC-BY-4.0
    url: https://creativecommons.org/licenses/by/4.0/
  title: Council of AI — Public Otel API
  version: 0.2+820f7aa0ad7a
  x-guidance: 'Free board: GET /api/gspc — quote totals.lid verbatim, never compose a count. Paid doors are the operations carrying x-payment-info: GET without payment answers HTTP 402 with the x402 v2 challenge (accepts[0]: scheme exact, network eip155:8453, USDC 0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913, payTo 0x212686404A7D1E1fD88F35eD6200c3aF7A78ae31); pay it and retry with the X-PAYMENT header. Required query parameters carry an example that reaches the 402. Free previews are named per door under x-csoai.free_preview. Catalog: https://councilof.ai/.well-known/x402.json and https://councilof.ai/api/x402. Verify is free: https://councilof.ai/gspc-verify. Offer & Receipt emission is conditional: a 402 carries server-signed offers only when the Pages signing key is available; a settled 200 carries a signed receipt only when settlement exposes the required payer and transaction evidence and that key is available. The extension uses JWS/EdDSA, kid did:web:csoai.org#board-attestation-1, published at https://csoai.org/.well-known/did.json. Check either without trusting this document: POST it to /api/receipts/verify, or run scripts/verify_receipt.py, which reads did.json and contacts nobody. 22 axes measured · 14 model fleets · 3 public leader scores · 8 fact runs · TIE is TIE · not a certificate.'
servers:
- url: https://councilof.ai
tags:
- name: Otel
paths:
  /api/otel:
    get:
      description: GET /api/otel — collector presence. LIVE only if a collector answers. Else UNCHECKABLE. Not a 23rd axis.
      operationId: get__api_otel
      responses:
        '200':
          content:
            application/json: {}
          description: OK
      security: []
      summary: GET /api/otel — collector presence.
      tags:
      - Otel
components:
  securitySchemes:
    ed25519:
      description: Ed25519 signature of canonical body, under did:web:csoai.org#card-attestation-1
      in: header
      name: X-CSOAI-Signed-Card
      type: apiKey
    githubOidc:
      bearerFormat: JWT
      description: GitHub Actions OIDC token satisfying the handler's issuer, audience, repository and workflow checks.
      scheme: bearer
      type: http
    operatorBearer:
      description: Operation-specific configured operator or writer credential. Not interchangeable across operations.
      scheme: bearer
      type: http
x-x402:
  amounts: only inside each resource's 402 challenge (accepts[].amount) — never on this catalog, never in prose
  asset:
    contract: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
    decimals: 6
    symbol: USDC
  catalog: https://councilof.ai/api/x402
  doors:
  - /api/free-door
  - /api/request-attestation
  - /api/evidence-bundle
  - /api/eunomia-data
  - /api/proof
  - /api/rwa/evidence
  - /api/wrapper
  - /api/art50/marking-evidence
  - /api/feeds/provider-diff
  - /api/receipts/batch
  facilitator:
    configured: true
    note: the facilitator URL is a Cloudflare Pages env var (X402_FACILITATOR_URL) that no public surface publishes; /api/x402 reports only whether one is configured
    url: null
  mcp: https://councilof.ai/mcp
  mode: live
  mode_note: A settled receipt (facilitator /verify then /settle) unlocks the paid artefact. Verification of every artefact stays free.
  network: eip155:8453
  not:
  - score
  - certificate
  - filled-cells
  - pay-to-pass
  - rank
  offer_receipt:
    alg: EdDSA
    did_document: https://csoai.org/.well-known/did.json
    formats_emitted:
    - jws
    formats_not_emitted:
    - eip712
    kid: did:web:csoai.org#board-attestation-1
    receipts_by_payer: https://councilof.ai/api/receipts?payer=0x…
    spec: https://github.com/x402-foundation/x402/blob/69652a69798f0b08f95bef33318896e36e210f7e/specs/extensions/extension-offer-and-receipt.md
    spec_commit: 69652a69798f0b08f95bef33318896e36e210f7e
    supported: true
    verify_hosted: https://councilof.ai/api/receipts/verify
    verify_offline: scripts/verify_receipt.py
    why_no_eip712: the edge holds one Ed25519 signing key (a Cloudflare Pages secret) and no secp256k1 signer; eip712 would require a key nobody has provisioned, so we emit none rather than a format we cannot produce
  payTo: '0x212686404A7D1E1fD88F35eD6200c3aF7A78ae31'
  public_operations: 104
  quarantined:
  - buyable: false
    free_status: https://councilof.ai/api/witness/status?sha256=<64-hex>
    lifecycle: QUARANTINED_PRE_RELEASE
    reason: paid witness issuance is disabled until a release gate verifies leaf → signed root → sidecar → Rekor → OpenTimestamps
    url: https://councilof.ai/api/witness?sha256=<64-hex>
  revenue_truth: https://councilof.ai/api/revenue
  schema_of_source:
    catalog: csoai.x402-catalog/0.2
    well_known: csoai.x402/0.2
  scheme: exact
  well_known: https://councilof.ai/.well-known/x402.json
