{
  "openapi": "3.1.0",
  "info": {
    "title": "Council of AI — GSPC measurement (public read surfaces)",
    "version": "0.1.0",
    "description": "Independent AI-behaviour measurement by CSOAI Ltd. Measurement, not certification. Quote totals.lid and totals.public_count from GET /api/gspc verbatim; never compose a count. Three verification states exist: VALID, INVALID, UNCHECKABLE. Absence of a field means UNMEASURED. TIE is never a win. A withheld leader (public_leader_state) is a state, not a zero. Verify is free; a rank is never sold. Signature checks are not Actions: use /signed/HOW-TO-VERIFY.md.",
    "contact": {
      "name": "CSOAI Ltd",
      "url": "https://councilof.ai",
      "email": "nicholas@csoai.org"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://councilof.ai"
    }
  ],
  "paths": {
    "/api/gspc": {
      "get": {
        "operationId": "getBoard",
        "summary": "The living GSPC board — the one authority",
        "description": "Returns totals (print totals.lid and totals.public_count verbatim), state_enum, and one object per axis with status, kind, separation, and either a public leader or a public_leader_state explaining why the leader is withheld (EXCLUDED_OWN_MODEL, NO_SIGNED_CARD). Do not count the axes array; read totals.",
        "responses": {
          "200": {
            "description": "Board payload (application/json)."
          }
        }
      }
    },
    "/api/proof": {
      "get": {
        "operationId": "getProof",
        "summary": "One free inclusion proof against the last published public root",
        "description": "Pass sha=<64-hex>. 200 with kind=inclusion (index, proof[], merkle_root, as_of) when the sha is a leaf; 404 error=not_found when it is not a leaf (the root binds the public-root card set, not every signed measurement card); 400 when sha is malformed. bundle=1 is an x402 (HTTP 402) paid re-serve, never required.",
        "parameters": [
          {
            "name": "sha",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{64}$"
            },
            "description": "Leaf sha256, lowercase hex."
          }
        ],
        "responses": {
          "200": {
            "description": "Inclusion proof."
          },
          "400": {
            "description": "Malformed sha."
          },
          "404": {
            "description": "Not a leaf of the last published root."
          }
        }
      }
    },
    "/root.json": {
      "get": {
        "operationId": "getRoot",
        "summary": "The last published public root (csoai.public-root/v1)",
        "description": "Ed25519-signed envelope under did:web:csoai.org#board-attestation-1; card_sha256[] is bound by merkle_root. Recipe: /signed/HOW-TO-VERIFY-ROOT.md. Not a certificate.",
        "responses": {
          "200": {
            "description": "Root envelope."
          }
        }
      }
    },
    "/.well-known/did.json": {
      "get": {
        "operationId": "getDid",
        "summary": "The DID document that publishes the signing keys",
        "description": "verificationMethod[] carries the Ed25519 keys (card-attestation-1 signs measurement cards; board-attestation-1 signs the root and mill cards). Pin, do not fetch at check time.",
        "responses": {
          "200": {
            "description": "DID document."
          }
        }
      }
    },
    "/signed/card_index.json": {
      "get": {
        "operationId": "getCardIndex",
        "summary": "Unsigned convenience index of the signed measurement cards",
        "description": "cards[] with card (id), axis, card_url, signed. The index itself is not evidence; the card is.",
        "responses": {
          "200": {
            "description": "Card index."
          }
        }
      }
    },
    "/signed/cards/{id}.json": {
      "get": {
        "operationId": "getCard",
        "summary": "One signed measurement card",
        "description": "{alg, body, id, preimage_rule, pubkey, signature}. id = sha256 of the canonical body; verify per /signed/HOW-TO-VERIFY.md. Returns 404 for an unknown id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signed card."
          },
          "404": {
            "description": "No such card."
          }
        }
      }
    },
    "/signed/HOW-TO-VERIFY.md": {
      "get": {
        "operationId": "getVerifyRecipe",
        "summary": "The published, offline card-verification recipe",
        "responses": {
          "200": {
            "description": "Markdown."
          }
        }
      }
    }
  }
}